<% @lists.each do |list| %>
  <div class="row justify-content-center my-3" data-controller="list">
    <div class="col-10 col-lg-6">
      <div class="card">
        <div class="card-header"><%= list.name %></div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush" data-list-target="tasks">
            <%= render list.tasks %>
          </div>
        </div>
        <div class="card-footer">
          <%= bootstrap_form_with model: @new_task, id: "task-form-for-list-#{list.id}", url: '', layout: :inline, data: { reflex: "submit->List#create_task", list_id: list.id, list_target: "form" } do |form| %>
            <%= form.text_field :name, skip_label: true, wrapper_class: "flex-fill mr-2", class: "w-100", placeholder: "What needs to be done?" %>
            <%= form.submit "Add task" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
