<% @lists.each do |list| %>
  <div class="row justify-content-center my-3">
    <div class="col-10 col-lg-6">
      <div class="card">
        <div class="card-header"><%= list.name %></div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <%= render list.tasks.incomplete_first %>
          </div>
        </div>
        <div class="card-footer">
          <%= bootstrap_form_with model: Task.new, url: '', layout: :inline, data: { reflex: "submit->Task#create", list_id: list.id } do |form| %>
            <%= form.text_field :name, skip_label: true, wrapper_class: "flex-fill mr-2", class: "w-100", placeholder: "What needs to be done?" %>
            <%= form.submit "Add task" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
