<% @lists.each do |list| %>
  <div class="row justify-content-center my-3">
    <div class="col-10 col-lg-6">
      <div class="card">
        <div class="card-header"><%= list.name %></div>
        <div class="card-body p-0">
          <div class="list-group list-group-flush">
            <% list.tasks.incomplete_first.each do |task| %>
              <div class="list-group-item"
                   data-controller="task"
                   data-task-complete-class="complete"
                   data-task-complete-value="<%= task.complete? %>"
                   id="<%= task.id %>">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="<%= dom_id(task) %>" data-reflex="change->TaskReflex#toggle" data-task-target="checkbox" data-id="<%= task.id %>">
                  <label for="<%= dom_id(task) %>" class="custom-control-label" data-task-target="label"><%= task.name %></label>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
