<div class="list-group-item d-flex justify-content-between <%= 'completed' if task.complete? %>" data-controller="task" data-id="<%= task.id %>">
  <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="<%= dom_id(task) %>" data-reflex="change->TaskReflex#toggle" data-id="<%= task.id %>" <%= 'checked' if task.complete? %>>
    <label for="<%= dom_id(task) %>" class="custom-control-label">
      <% if task.complete? %>
        <del>
          <%= task.name %>
        </del>
      <% else %>
        <%= task.name %>
      <% end %>
    </label>
  </div>
  <div>
    <a href="#" data-action="click->task#destroy" data-id="<%= task.id %>">
      <i class="fa fa-times text-danger"></i>
    </a>
  </div>
</div>
