<div id="<%= dom_id(task) %>" class="list-group-item d-flex justify-content-between <%= 'incomplete' unless task.complete? %>" data-controller="task" data-id="<%= task.to_sgid.to_s %>" data-task-incomplete-class="incomplete">
  <div class="custom-control custom-checkbox mr-2" data-task-target="checkbox">
    <input type="checkbox" class="custom-control-input" id="<%= dom_id(task) %>_checkbox" data-reflex="change->TaskReflex#toggle" data-id="<%= task.to_sgid.to_s %>" <%= 'checked' if task.complete? %>>
    <label for="<%= dom_id(task) %>_checkbox" class="custom-control-label">
      <% if task.complete? %>
        <del>
          <%= task.name %>
        </del>
        <% if task.completer %>
          <span class="text-muted">Completed by: <%= task.completer_name %></span>
        <% end %>
      <% else %>
        <%= task.name %>
        <span class="text-muted" id="task-<%= task.id %>-assignee"><%= task.assignee_name %></span>
      <% end %>
    </label>
  </div>
  <div class="collapse mt-2" id="collapse-<%= task.id %>" data-task-target="collapse">
    <%= bootstrap_form_with model: task, url: '', layout: :inline, html: { class: "mb-2" }, data: { reflex: "submit->Task#update", id: task.to_sgid.to_s } do |form| %>
      <%= form.text_field :name, skip_label: true, class: "mr-2" %>
      <%= form.primary "Update" %>
    <% end %>
    <%= select_tag :assignee, options_from_collection_for_select(current_team.users, :id, :name, task.assignee_id), prompt: "Assign user", class: "custom-select", data: { reflex: "change->Task#assign", id: task.to_sgid.to_s } %>
  </div>
  <div class="d-flex">
    <%= link_to list_task_path(task.list, task), class: "mr-2" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="text-secondary" height="24" width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
      </svg>
    <% end %>
    <a href="#collapse-<%= task.id %>" data-toggle="collapse" class="mr-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-primary" height="24" width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
      </svg>
    </a>
    <a href="#" data-action="click->task#destroy" data-id="<%= task.to_sgid.to_s %>">
      <svg xmlns="http://www.w3.org/2000/svg" class="text-danger" height="24" width="24" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </a>
  </div>
</div>
